* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    /* background: linear-gradient(#e66465, #9198e5); */
    /* background-repeat: no-repeat; */
    /* height: 100vh;  */
}

#grid-wrapper {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 25px;
    justify-content: center;
}

.box img {
    width: 100%;
}

#load-btn {
    padding: 5px 10px;
}
